{% extends 'profile.html' %}
{% block credential %}
<div class="columns">
    <div class="column is-one-quarter">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img src="https://media.istockphoto.com/id/1128426035/vector/elegant-blue-and-gold-diploma-certificate-template.jpg?s=612x612&w=0&k=20&c=u6nl2YC0OfpYpcNS3C97EZhgaJKs4IVh-Tc0a55M-wc=" alt="{{ username }}'s Certificate">
                </figure>
            </div>
            <div class="card-content">
                <div class="media-content">
                    <p class="title is-4">Certificate of Completion</p>
                    <p class="subtitle is-6">American University</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}