{% extends 'profile.html', 'edit.html' %}
{% block credential %}
<div class="columns">
    <div class="column is-one-quarter">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img src="{{ credential.url }}">
                </figure>
            </div>
            <div class="card-content">
                <div class="media-content">
                    <p class="title is-4">{{ credential.name }}</p>
                    <p class="subtitle is-6">{{ credential.wallet_id }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}