{% extends 'base.html' %}
{% block content %}
<div class="columns">
    
    <form class="column" id="form"  method="post">
        {{ form.hidden_tag() }}
        <h1 class="heading is-size-3">{{ username }}'s profile</h1>
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                <img src="{{ profile_image }}" alt="{{ username }}'s Profile Image">
                {{ form.profile_image(
                    class="input is-medium is-info",
                    placeholder="Please enter a valid URL to a profile picture",
                    value=current_user.profile_image
                ) }}
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                    <img src="{{ profile_image }}" alt="{{ username }}'s Profile Image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="title is-5">
                    Username: 
                    {{ form.username(
                        class="input is-medium is-info",
                        value=current_user.name
                    ) }}<a href="/users"></a></div>
                    <div class="title is-5">
                    Email:
                    {{ form.email(
                        class="input is-medium is-info",
                        value=current_user.email
                    ) }}</div>
                </div>
            </div>
                {{ form.submit(
                    class="button is-danger is-small ml-2",
                ) }}
            
                <div class="content">
                This is {{ username }}'s profile <a>{{ email }}</a>.
                <br>
                <time datetime="{{ created_at }}"> User since: {{ created_at.year }}</time>
                <p>Wallet Address: {{ wallet.address }}</p>
                </div>
            </div>
        </div>
    </form>
    <div class="column is-two-thirds">
        <h1 class="heading is-size-3">{{ username }}'s Certificates</h1>
        {% block credential %}
        {% endblock %}
    </div>
</div>
{% endblock %}