{% extends 'base.html' %}
{% block content%}
<div class="columns">
    <div class="column">
        <h1 class="heading is-size-3">{{ username }}'s profile</h1>
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                <img src="{{ profile_image }}" alt="{{ username }}'s Profile Image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                    <img src="{{ profile_image }}" alt="{{ username }}'s Profile Image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{ username }}<button class="button is-info is-small ml-2">Edit</button></p>
                    <p class="subtitle is-6">{{ email }}</p>
                </div>
                </div>
            
                <div class="content">
                This is {{ username }}'s profile <a>{{ email }}</a>.
                <br>
                <time datetime="{{ created_at }}"> User since: {{ created_at.year }}</time>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-two-thirds">
        <h1 class="heading is-size-3">{{ username }}'s Certificates</h1>
        {% block credential %}
        {% endblock %}
    </div>
</div>
{% endblock %}