{% extends 'base.html' %}
{% block content%}
<div class="columns mainFont">
    <div class="column">
        <h1 class="heading is-size-3">{{ username }}'s profile</h1>
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    {% if profile_image %}
                    <img src="{{ profile_image }}" alt="{{ username }}'s Profile Image">
                    {% else %}
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png"/>
                    {% endif %}
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        {% if profile_image %}
                        <img src="{{ profile_image }}" alt="{{ username }}'s Profile Image">
                        {% else %}
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png"/>
                        {% endif %}
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{ username }}<button id="edit" onclick="window.location.href='{{ url_for( 'user.edit', user_id=current_user.id) }}';" class="button is-info is-small ml-2">Edit</button></p>
                    <p class="subtitle is-6">{{ email }}</p>
                </div>
                </div>
            
                <div class="content">
                This is {{ username }}'s profile <a>{{ email }}</a>.
                <br>
                <time datetime="{{ created_at }}"> User since: {{ created_at.year }}</time>
                <p>Wallet Address: {{ wallet.address }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-two-thirds">
        <h1 class="heading is-size-3">{{ username }}'s Certificates</h1>
        <div class="columns is-multiline">
            {% for credential in credentials %}
                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="{{ credential.credential.url }}">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media-content">
                                <p class="title is-4">{{ credential.credential.name }}</p>
                                <p class="subtitle is-6">{{ wallet.address }}</p>
                                {% if credential.active %}
                                    <p class="subtitle is-6">Active</p>
                                {% else %}
                                    <p class="subtitle is-6">Inactive</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}