<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Credentials</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <style>
      @media(max-width: 500px) {
        .reverse-columns {
          flex-direction: column-reverse;
          display: flex;
        }
      }

      .titled {
        font-family: 'Merriweather', serif !important;
        font-size: 58px !important;
        font-weight: 400 !important;
        line-height: 64px !important;
      }

      .subtitled {
        font-family: 'Merriweather', serif !important;
        font-size: 22px !important;
        font-weight: 400 !important;
        line-height: 36px !important;
      }

      #header-logo{
        background: url(/static/images/sample-logo.png) no-repeat center center;
        background-size: cover;
        width: 205px;
        height: 80px;
      }
      
    </style>
  </head>

  <body>
    <!-- NavBar va a todo lo ancho -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="section">
        <div class="container">
          <div  class="navbar-brand">
            <a href="/">
              <img id="header-logo" class="navbar-item" >
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-menu">

        <div class="navbar-end">
          <a class="navbar-item" href="/credentials" >FOR ISSUERS</a>  
            
          <a class="navbar-item">
            FOR INDIVIDUALS
          </a>

          <a class="navbar-item">
            ABOUT
          </a>

          <a class="navbar-item" id="connectWallet">
            CONNECT WALLET
          </a>

          <a class="navbar-item" id="profilePage"
          onclick="window.location.href='{{ url_for( 'user.user', user_id=current_user.id) }}';"
          >
          </a>

        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        {% for message in get_flashed_messages() %}
          <div class="notification is-primary">
            <button class="delete"></button>
            <h2>{{ message }}</h2>
          </div>
        {% endfor %}
        {% block content%}
        {% endblock%}
      </div>
    </section>
   
    <p id="walletAddress"></p>
    <p id="walletBalance"></p>
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        once: true
      });
    </script>
    <script type="text/javascript">
      window.walletAddress = null
      const connectWallet = document.getElementById("connectWallet")
      const walletAddress = document.getElementById("walletAddress")
      const walletBalance = document.getElementById("walletBalance")

      function checkInstalled() {
        if (typeof window.ethereum == 'undefined') {
          alert("Please Install Metamask!")
          walletAddress.innerText = "Metamask is not installed, please install it"
          connectWallet.classList.remove()
          connectWallet.classList.add()
          return false
        }
        connectWallet.addEventListener('click', connectWalletWithMetamask)
      }

      async function connectWalletWithMetamask() {
        const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
        .catch((e) => {
          console.error(e.message)
          return
        })
        if (!accounts) { return }

        window.walletAddress = accounts[0]
        walletAddress.innerText = "Logged in with: " + window.walletAddress
        connectWallet.innerText = "DISCONNECT WALLET"
        connectWallet.removeEventListener('click', connectWalletWithMetamask)
        setTimeout(() => {
          connectWallet.addEventListener('click', signOutOfMetamask)
        }, 200)
        sendDoc()
        showProfile()
      }

      function showProfile() {
        document.getElementById("profilePage").innerText = "PROFILE"
      }

      function signOutOfMetamask() {
        window.walletAddress = null
        walletAddress.innerText = ''
        connectWallet.innerText = 'CONNECT WALLET'

        connectWallet.removeEventListener('click', signOutOfMetamask)
        setTimeout(() => {
          connectWallet.addEventListener('click', connectWalletWithMetamask)
        }, 200)
      }

      window.addEventListener('DOMContentLoaded', () => {
        checkInstalled();
      });

      function sendDoc() {
        console.log("sendDoc()")
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/register-wallet/address=" + window.walletAddress, true);
        xhttp.send();
      }
    </script>
  </body>
</html>
