<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://i.ibb.co/TKZgQq0/Screen-Shot-2022-10-26-at-8-37-51-PM.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>
      <a class="navbar-item" href="/users/new">
        Sign Up
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" id="connectWallet" onclick="">
            <strong>Connect Wallet</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
    <section class="section">
        <div class="container">
          <h1 class="title">
            {% block heading %}{% endblock%}
          </h1>
          <p class="subtitle">
            {% block content%}
    

            {% endblock%}
          </p>
          <p id="walletAddress"></p>
          <p id="walletBalance"></p>

        </div>
      </section>

    <script type="text/javascript">
      window.walletAddress = null
      const connectWallet = document.getElementById("connectWallet")
      const walletAddress = document.getElementById("walletAddress")
      const walletBalance = document.getElementById("walletBalance")

      function checkInstalled() {
        if (typeof window.ethereum == 'undefined') {
          walletAddress.innerText = "Metamask is not installed, please install it"
          connectWallet.classList.remove()
          connectWallet.classList.add()
          return false
        }
        connectWallet.addEventListener('click', connectWalletWithMetamask)
      }

      async function connectWalletWithMetamask() {
        const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
        .catch((e) => {
          console.error(e.message)
          return
        })
        if (!accounts) { return }

        window.walletAddress = accounts[0]
        walletAddress.innerText = window.walletAddress

        connectWallet.innerText = "Disconnect Wallet"
        connectWallet.removeEventListener('click', connectWalletWithMetamask)
        setTimeout(() => {
          connectWallet.addEventListener('click', signOutOfMetamask)
        }, 200)
      }

      function signOutOfMetamask() {
        window.walletAddress = null
        walletAddress.innerText = ''
        connectWallet.innerText = 'Connect Wallet'

        connectWallet.removeEventListener('click', signOutOfMetamask)
        setTimeout(() => {
          connectWallet.addEventListener('click', connectWalletWithMetamask)
        }, 200)
      }

      window.addEventListener('DOMContentLoaded', () => {
        checkInstalled()
      });
    </script>
</body>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Blockchain Identity Project</strong> by <a href="https://github.com/rrmangum/blockchain_identity">Team #3</a>
    </p>
  </div>
</footer>
</html>
<style>
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
 }
</style>
