{% extends 'base.html' %}
{% block content %}
<div class="mainFont">
    <div class="card">
        <div class="card-media is-justify-content-center heroContainer">
            <img class="aboutImage" src="https://images.unsplash.com/photo-1530333821974-f9fcfd6718c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"/>
            <div class="overlay">
                <div class="text has-text-white is-size-1">Welcome to Vitae</div>
            </div>
        </div>
        <div class="card-content">
            <h1 class="title is-size-2">We are creating a public goods platform for digital credentials</h1>
            <p class="intro subtitle mt-4">We see a world where anyone can quickly and easily issue, receive, and verify all of life's great accomplishments. On our platform, issuing organizations or persons can create digital credentials and accredit those credentials to anyone. Vitae believes in an internet where users control their own data and identity.</p>
        </div>
        <div class="card-content">
            <h1 class="title is-size-4">Issuers</h1>
            <p class="subtitle mt-4">Issuers can use our platform to bestow credentials, awards, certificates, or authorization to members of their institution, group, or indiviuals.</p>
            <p class="subtitle mt-4">When an individual, a group, or an institution creates a credential with us, it is created as a unique digital asset. They are then given the capabilities as an administrator to issue that credential to the people in their organization.</p>
        </div>
        <div class="card-content">
            <h1 class="title is-size-4">Receivers</h1>
            <p class="subtitle mt-4">Receivers can easily use our platform to access credentials, awards, certificates, or authorization that they have earned throughout their lives.</p>
            <p class="subtitle mt-4">Users instantly have proof of their accomplishments in perpetuity. They can be certain that their qualifications are uinque and are visible to anyone that needs access to them.</p>
        </div>
        <div class="card-content">
            <h1 class="title is-size-4">Verifiers</h1>
            <p class="subtitle mt-4">Verifiers can use our platform to check the authenticity of issued digital credentials, ensuring credentials were created through Vitae. They can also verify the legitimacy and credibility of issuing organizations, to render any and all counterfit attempts invalid.</p>
            <p class="subtitle mt-4">Users instantly have proof of their accomplishments that exist in perpetuity. They can be certain their qualifications are made visible to anyone that needs access to them.</p>
        </div>
        <div class="card-content">
            <p class="subtitle mt-4">For an overview of the technology that powers Vitae Digital Credentials, please see our dedicated <a href="">technology documentation.</a></p>
        </div>

    </div>
</div>
<style>
    .aboutImage {
        opacity: 0.4;
        width: 100%;
        height: 210px;
        object-fit: cover;
    }
    .heroContainer {
        position: relative;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 97%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #008bba2e;
    }
    .heroContainer:hover .overlay {
        opacity: 1;
    }
    .text {
        position: absolute;
        top: 40%;
        left: 30%;
    }
    .is-size-2 {
        width: 75%;
        margin: auto;
        text-align: center;
    }
    .intro {
        text-align: center;
    }
</style>

{% endblock %}