{% extends 'base.html' %}


{% block content%}

<div class="container">
    <div class="columns  is-vcentered reverse-columns">
        <div class="column
            is-10-mobile 
            is-10-tablet 
            is-5-desktop 
            is-5-widescreen 
            is-5-fullhd " data-aos="fade-down">
            <h1 class="title titled is-1 mb-6">
            Your Credentials
            </h1>
            
            <h2 class=" is-size-4 mb-6">

                <td>
                Wallet Address : {{ wallet.address }}
                
                </td>

            </h2>
           
            
        </div>
        <div data-aos="fade-right" class="column
            is-10-mobile 
            is-10-tablet 
            is-4-desktop 
            is-7-widescreen 
            is-4-fullhd is-offset-1-fullhd">
        </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="columns is-vcentered reverse-columns">
        <div class="column">
            
            <table class="table is-fullwidth is-hoverable is-striped is-bordered">
                <thead >
                    <tr>
                        <th>Credential</th>
                        <th>Date Issued</th>
                        <th>Image</th>
                        <th>Delete</th>
                        
                    </tr>
                </thead>
                <tbody>

                    <tbody>
                        {% for both in both %}
                        
                            <tr>
                                <td>
                                    {{ both.credential.name}}<br>
                                    {% if both.active == True %}
                                    {% if both.deleted_at %}
                                    
                                    {% else %}
                                    Active<br>
                                    {% endif %}
                                    {% else %}
                                    Expired<br>
                                    {% endif %}
                                    {{ both.transaction_hash }}<br>
                                </td>
                                <td >
                                    {{ both.issued_at }}
                                   
                                </td>
                                <td class="has-text-centered">
                                    <img src="{{ both.credential.url }}" alt="Credential Image" width="100" height="100">
                                </td>

                                {% if both.deleted_at %}

                                <td >
                                    <form action="/wallets/delete/{{both.id}}" METHOD="POST">
                                    <button class="button is-danger is-rounded is-outlined is-small" name="now" type="submit" disabled value={{ now }} id="{{ both.id }}">Delete</button>
                                </form>
                                <div class=" has-text-danger">Deleted</div>
                                
                                </td>
                                
                                {% else %}
                                <td >
                                    <form action="/wallets/delete/{{both.id}}" METHOD="POST">
                                    <button class="button is-danger is-rounded is-outlined is-small" name="now" type="submit" value={{ now }} id="{{ both.id }}">Delete</button>
                                </form>
                                </td>
                                
                                {% endif %}
                            </tr>
                           
                        {% endfor %}
                        
                        </tr>
                    </tbody>
                </table>      
                              
            </div>
        </div>
    </div>

    {% endblock %}
