{% extends 'base.html' %}

{% block content%}
    
    <div class="container box p-6
                has-background-light">
        <h1 class="title has-text-centered
                 has-text-success">
            Assign Credential to Wallets
        </h1>
        </br>
        <div class="columns is-vcentered reverse-columns">
            <div class="column
                is-one-third" data-aos="fade-down">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="{{ credential.url }}" alt="{{ credential.name }} Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media"></div>
                        <div class="media-left"></div>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{ credential.name }}</p>
                        <p class="subtitle is-6"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table is-fullwidth is-hoverable is-striped is-bordered">
            <thead >
                <tr>
                    <th>Select</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for wallet in wallets %}
                    <tr>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </td>
                        <td>
                            {{ wallet.address }}
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
