{% extends 'base.html' %}

{% block head %}
    <script src="{{url_for('static', filename='fabric.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='credential_design.css')}}>
{% endblock %}

{% block content%}

    <div class="container">

        <div class="columns">
            <div class="column">
                <h2 class="title is-3">Badge Templates</h2>
                <img class="img" id="badge1" draggable="true" ondragstart="dragElement(event)" src={{url_for('static', filename='images/sample-badge-1.png')}}>
                <img class="img" id="badge2" draggable="true" ondragstart="dragElement(event)" src={{url_for('static', filename='images/sample-badge-2.png')}}>
                <img class="img" id="badge3" draggable="true" ondragstart="dragElement(event)" src={{url_for('static', filename='images/sample-badge-3.png')}}>
                <img class="img" id="badge4" draggable="true" ondragstart="dragElement(event)" src={{url_for('static', filename='images/sample-badge-4.png')}}>
                <img class="img" id="badge5" draggable="true" ondragstart="dragElement(event)" src={{url_for('static', filename='images/sample-badge-5.png')}}> 
                <img class="img" id="badge6" draggable="true" ondragstart="dragElement(event)" src={{url_for('static', filename='images/sample-badge-6.png')}}> 
                <img class="img" id="badge7" draggable="true" ondragstart="dragElement(event)" src={{url_for('static', filename='images/sample-badge-7.png')}}> 
                <img class="img" id="badge8" draggable="true" ondragstart="dragElement(event)" src={{url_for('static', filename='images/sample-badge-8.png')}}> 
                <img class="img" id="badge9" draggable="true" ondragstart="dragElement(event)" src={{url_for('static', filename='images/sample-badge-9.png')}}>  
            </div>
            <div class="column">
                <h2 class="title is-3">Your Design</h2>
                <div id="canvas_cont" ondragover="allowDrop(event)" ondrop="dropElement(event)">
                    <canvas id="canvas" width="360" height="360" ></canvas>
                </div>
                <br>
                <div class="field">
                    <input type="text" class="input" id="badge_name" placeholder="Enter badge name..">
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" onclick="save()">Save</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light" onclick="handleClear()">Clear</button>
                    </div>
                </div>
            </div>
            <div class="column">
                <h2 class="title is-3">Text Controls</h2>
                <button class="button is-link is-light" onclick="addText()">Add Text</button>
                <br>
                <br>
                <input type="color" value="" id="text-color">
                <br>
                <br>
                <div class="control">
                    <div class="select">
                        <select id="font-family">
                            <option value="arial">Arial</option>
                            <option value="helvetica" selected>Helvetica</option>
                            <option value="myriad pro">Myriad Pro</option>
                            <option value="delicious">Delicious</option>
                            <option value="verdana">Verdana</option>
                            <option value="georgia">Georgia</option>
                            <option value="courier">Courier</option>
                            <option value="comic sans ms">Comic Sans MS</option>
                            <option value="impact">Impact</option>
                            <option value="monaco">Monaco</option>
                            <option value="optima">Optima</option>
                            <option value="hoefler text">Hoefler Text</option>
                            <option value="plaster">Plaster</option>
                            <option value="engagement">Engagement</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>

                <div id="text-controls-additional">
                    <input type='checkbox' name='fonttype' id="text-cmd-bold">
                        Bold
                    <br>
                    <input type='checkbox' name='fonttype' id="text-cmd-italic">
                        Italic
                    <br>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    
<script type="text/javascript">

    // allowDrop function called on ondragover event.
    function allowDrop(e) {
        e.preventDefault();
    }
    //dragElement function called on ondrag event.
    function dragElement(e) {
        e.dataTransfer.setData("id", e.target.id); //transfer the "data" i.e. id of the target dragged.
    }
    //Initializing fabric canvas on window load event.
        var canvas;
        window.onload = function(){
            canvas = new fabric.Canvas(document.getElementById("canvas"));
    }
    //dropElement function called on ondrop event.
    function dropElement(e) {
        e.preventDefault();
        var data = e.dataTransfer.getData("id"); //receiving the "data" i.e. id of the target dropped.
        var imag = document.getElementById(data); //getting the target image info through its id. 
        var img = new fabric.Image(imag, { //initializing the fabric image.
            left: e.layerX - 80,  //positioning the target on exact position of mouse event drop through event.layerX,Y.
            top: e.layerY - 40,
        });
        img.scaleToWidth(imag.width); //scaling the image height and width with target height and width, scaleToWidth, scaleToHeight fabric inbuilt function. 
        img.scaleToHeight(imag.height);
        canvas.add(img); 
    }

    function  handleClear ( ) { canvas. clear () }

    function addText() { 
        canvas.add(new fabric.IText('Tap and Type', { 
            left: 50,
            top: 100,
            fontFamily: 'arial black',
            fill: '#333',
                fontSize: 30
        }));
    }

    document.getElementById('font-family').onchange = function() {
        canvas.getActiveObject().setFontFamily(this.value);
        canvas.renderAll();
    };

    document.getElementById('text-color').onchange = function() {
        canvas.getActiveObject().setFill(this.value);
        canvas.renderAll();
    };

    radios5 = document.getElementsByName("fonttype");  // wijzig naar button
    for(var i = 0, max = radios5.length; i < max; i++) {
        radios5[i].onclick = function() {
            
            if(document.getElementById(this.id).checked == true) {
                if(this.id == "text-cmd-bold") {
                    canvas.getActiveObject().set("fontWeight", "bold");
                }
                if(this.id == "text-cmd-italic") {
                    canvas.getActiveObject().set("fontStyle", "italic");
                }
                     
            } else {
                if(this.id == "text-cmd-bold") {
                    canvas.getActiveObject().set("fontWeight", "");
                }
                if(this.id == "text-cmd-italic") {
                    canvas.getActiveObject().set("fontStyle", "");
                }  
                
            }    
            canvas.renderAll();
        }
    }

</script>



{% endblock %}