{% extends 'base.html' %}

{% block content%}

    <div class="container">
        <div class="columns  is-vcentered reverse-columns">
            <div class="column
                is-10-mobile 
                is-10-tablet 
                is-5-desktop 
                is-5-widescreen 
                is-5-fullhd " data-aos="fade-down">
                <h1 class="title titled is-1 mb-6">
                Credentials
                </h1>
                <div class="buttons">
                    <button class="button is-yellow mb-6" type="button" onclick="window.location.href='{{ url_for( 'credential.new_credential') }}';">Create New Credential</button>
                    <button class="button is-yellow mb-6" type="button" onclick="window.location.href='{{ url_for( 'credential.design_credential') }}';">Design Credential</button>
                </div>
            </div>
            <div data-aos="fade-right" class="column
                is-10-mobile 
                is-10-tablet 
                is-4-desktop 
                is-7-widescreen 
                is-4-fullhd is-offset-1-fullhd">
            </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns is-vcentered reverse-columns">
            <div class="column">
                
                <table class="table is-fullwidth is-hoverable is-striped is-bordered">
                    <thead >
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for credential in credentials %}
                            <tr>
                                <td>
                                    {{ credential.name }}
                                </td>
                                <td class="has-text-centered">
                                    <img src="{{ credential.url }}" alt="Credential Image" width="100" height="100">
                                </td>
                                <td class="is-vcentered">
                                    <div class="field is-grouped is-grouped-right">
                                        <p class="control">
                                            <button class="button is-yellow is-pulled-right" type="button" onclick="window.location.href='{{ credential.url }}';">View S3</button>
                                        </p>
                                        <p class="control">
                                            <button class="button is-yellow is-pulled-right" type="button" onclick="window.location.href='{{ credential.ipfs_url }}';">View IPFS</button>
                                        </p>
                                        <p class="control">
                                            <button class="button is-yellow is-pulled-right" type="button" onclick="window.location.href='{{ url_for( 'credential.issuance.index', credential_id=credential.id) }}';">View Issuances</button>
                                        </p>
                                        <p class="control">
                                            <button class="button is-yellow is-pulled-right" type="button" onclick="window.location.href='{{ url_for( 'credential.assign_credential', id=credential.id) }}';">Issue</button>
                                        </p>
                                        <p class="control">
                                            <button class="button is-primary is-pulled-right" type="button" onclick="window.location.href='#';" {% if credential.issuances %}disabled{%endif%}>Edit</button>
                                        </p>
                                        <p class="control">  
                                            <button class="button is-danger is-pulled-right" type="button" onclick="window.location.href='{{ url_for( 'credential.delete_credential', id=credential.id) }}';" {% if credential.issuances %}disabled{%endif%}>Delete</button>  
                                            
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}