{% extends 'base.html' %}

{% block content%}

    <div class="container">
        <div class="columns  is-vcentered reverse-columns">
            <div class="column
                is-10-mobile 
                is-10-tablet 
                is-5-desktop 
                is-5-widescreen 
                is-5-fullhd " data-aos="fade-down">
                <h1 class="title titled is-1 mb-6">
                Credentials Index Page
                </h1>
                <div class="buttons">
                    <button class="button is-yellow" type="button" onclick="window.location.href='{{ url_for( 'credential.new_credential') }}';">Create New Credential</button>
                    <button class="button">Assign Credentials</button>
                </div>
            </div>
            <div data-aos="fade-right" class="column
                is-10-mobile 
                is-10-tablet 
                is-4-desktop 
                is-7-widescreen 
                is-4-fullhd is-offset-1-fullhd">
            </div>

            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="columns is-vcentered reverse-columns">
            <div class="column">
                
                <table class="table is-fullwidth is-hoverable is-striped">
                    <thead >
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for credential in credentials %}
                        <tr>
                            <td>{{ credential.name }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <img src="{{ 'https://blockchain-identity.s3.amazonaws.com/badges.png' }}" width="120" alt="Credential Image">
            </div>
        </div>
    </div>



{% endblock %}