{% extends 'base.html' %}
{% block title%}{% endblock %}

{% block heading %}
{% endblock %}

{% block content %}

    <!-- Hero del producto -->
    <section class="is-white is-fullheight mainFont">
        <div class="hero-body">
          <div class="container">
            <div class="columns  is-vcentered reverse-columns">
              <div class="column
              is-10-mobile 
              is-10-tablet 
              is-5-desktop 
              is-5-widescreen 
              is-5-fullhd " data-aos="fade-down">
                <h1 class="title titled is-1 mb-6">
                  Decentralized Blockchain Credentials
                </h1>
                <div class="buttons">
                  
                  <a class="navbar-item button is-yellow" href="/credentials" >For Issuers</a> 
                  <a class="navbar-item button is-yellow" href="/wallets" >For Individuals</a>
                </div>
              </div>
              <div data-aos="fade-right" class="column
              is-10-mobile 
              is-10-tablet 
              is-4-desktop 
              is-7-widescreen 
              is-4-fullhd is-offset-1-fullhd">
                <figure class="image is-square">
                  <img src="../static/images/badges.png">
                </figure>
              </div>
  
            </div>
          </div>
        </div>
      </section>
  
{% endblock %}